.headerLogo {
    widows: 30%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-right: 50px;
    margin: 0 40px 0 40px;
    .imgLogo {
        width: 120px;
    }
    .userBlock {
        display: flex;
        align-items: center;
        justify-content: space-around;
        a {
            font-size: 18px;
        }
        .iconSearch {
            width: 20px;
        }
        .iconNotification {
            width: 20px;
        }
        .getStarted {
            padding: 10px 20px;
            border: 1px solid black;
        }
        .marginCastom {
            margin-right: 20px;
        }
        .linkHeader {
            a {
                font-size: 18px;
            }
        }
        .cursorPointer:hover {
            cursor: pointer;
        }
    }
}